h1, h2, h3, p {
    font-family: Georgia, "Times New Roman";
}

/*REGISTRATION FORM*/

#registration  {
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #315fbb;
    margin: auto;
}

#registration form{
    padding: calc(40vh - 50px) 0;
    height: 50px;

}

.create-profile {
    padding: calc(20vh - 50px) 0;
    height: 50px;
}
.avatar-preview > img{
    /*width: 100%;*/
    max-height: 400px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    box-shadow: 2px 3px 10px grey;
}
#remove-ava {
    display: none;
}

#profile--submit {
    margin-top: 167px;
}


#registration form > h1 {
    font-size: 2.4em;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #00bbbb;
}

#registration form > input {
    padding: 7px;
    /*min-width: calc(25vw);*/
    width: 140px;
    margin: 5px;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: 0px 2px 100px #315faa;
}

.container h1 {
    margin-top: 1em;
    font-size: 2.5em ;
    color: #0f0f0f;
    font-weight: bold;
    text-shadow: 2px 2px 10px grey;


}


/*added*/

.img--left {
    width:30%;
    margin: 10px 15px 10px 10px;
}

.blog-masthead {
    margin-bottom: 20px;
}
.blog-nav-item > a {
    color: #cdddeb;
}
.blog-nav-item > a:hover {
    text-decoration: none;
    color: white;
}

/*multilevel drop down*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
