

<?php if (Session::hasFlash() != false) : ?>
    <div class="alert alert-danger" onclick="$(this).hide();"> <?php Session::flash(); ?></div>
<?php endif; ?>

<div id="news" class="row marketing">
    <section class="items">
        <h2>
            Поиск по тегам:
        </h2>
        <ol>
        <?php foreach ($this->data['news'] as $articleObj) : ?>
            <li class="item-title">
                <a href="<?= REL_URL . '/news/read-article/' . $articleObj->id ?>" target="_blank" rel="nofollow">
                    <?= $articleObj->article ?>
                </a>
            </li>
        <?php endforeach ?>
        </ol>
    </section>
</div>
